{# templates/species_templates.html #}

<!DOCTPYE HTML>
    <html>

    <head>
        <style>
            {{css_style}}
        </style>
    </head>

    <body>
        <div>
            Species name : {{species_data.species_name}}
        </div>
        <div>
            Description : {{species_data.description}}
        </div>
        <div>
            Conservation : {{species_data.conservation_status}}
        </div>

        <div>
            {% for habitate in species_data.current_habitats %}
            Current habitates :
            <div>
                Name : {{habitate.name}} <br>
                Population size : {{habitate.population_size}}
                Quality : {{habitate.habitat_quality}}
            </div>
            {% endfor %}
        <div>
            Lost_habitates : {{species_data.lost_habitats}}
        </div>
        <div>
            Threat : {{species_data.threats}}
        </div>
        <div>
            Measure : {{species_data.conservation_measures}}
        </div>
        <div>
            References : {{species_data.references}}
        </div>
    </body>

    </html>